{% autoescape off %}
Hello {{ user.get_username }},

You're receiving this email because you requested a password reset for your account at FundAfrica.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'core:password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

Thanks for using FundAfrica!

The FundAfrica Team

If you didn't request this password reset, you can safely ignore this email.
{% endautoescape %} 